node_modules

# default scripts
scripts/command.js
scripts/sinusbot-commands.js
scripts/ServerQuery.js
scripts/advertising.js
scripts/alonemode.js
scripts/bookmark.js
scripts/followme.js
scripts/norecording.js
scripts/rememberChannel.js
scripts/welcome.js
scripts/README.md